#grid {
  width: 400px;
  height: 400px;
  min-height: 200px;
  margin: 0px auto 0;
  position: relative;
}

.infoBox {
  width: 400px;
  height: 85px;
  margin: 0px auto 0;
  display: flex;
  align-items: center;
}

.box{
  width: 100%;
  min-height: 100px;
}

#control{
  width: 400px;
  margin: 50px auto 0;
  display: flex;
}

#control p{
  flex: 1;
  cursor: pointer;
}

.field {
  flex: 1;
  float: left;
  width: 32.33%;
  height: 32.33%;
  border: solid 1px #34465d;
  display: flex;
  justify-content: center;
  align-items: center;
}

[draggable=true] {
	cursor: move;
}

.winnerContainer {
  position: absolute;
  height: 98.5%;
  width: 98.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.winnerContainer p {
  font-size: 32px;
  color: white;
}