#grid {
  width: 400px;
  height: 400px;
  min-height: 200px;
  margin: 0px auto 0;
  position: relative;
}

.infoBox {
  width: 400px;
  height: 85px;
  margin: 0px auto 0;
  display: flex;
  align-items: center;
}

.box{
  width: 100%;
  min-height: 100px;
}

.field {
  flex: 1;
  float: left;
  border: solid 1px #34465d;
  display: flex;
  justify-content: center;
  align-items: center;
}

[draggable=true] {
	cursor: move;
}

.winnerContainer {
  position: absolute;
  height: 98.5%;
  width: 98.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  flex-direction: column;
}

.winnerContainer p {
  font-size: 32px;
  color: white;
}

.boxLeft i {
  margin: 0 20px 0px 0px;
  font-size: 34px;
}

.reset {
  padding: 10px;
  background-color: #00AFF0;
  color: wheat;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.reset:hover {
  background-color: #1ab7ea;
}

.animateMe {
  animation: myanimation 2.5s infinite;
}

@keyframes myanimation {
  0% {color: red;}
  20%{color:yellow;}
  40%{color:green;}
  60%{color:blue;}
  80%{color:brown;}
  100% {color: red;}
}